{% extends "base.html" %} {% load static %} {# Load static files To Allow Static
Files to Load Always Remember This #} {% block head %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}" />
{% endblock %} {% block title %}Home - My Django App{% endblock %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/home/home.css' %}" />
{% block content %}
<div class="container">
  <h1>Welcome to My Django App Home</h1>
  <p>Explore Django, build projects, and have fun coding!</p>
</div>
{% endblock %}
